<div class='form-new'>
<%= form_for @recipe do |f| %>

<div class='form-input'><%= f.label :title, "Recipe Name", :autofocus => 'autofocus' %>
<%= f.text_field :title%></div>
<br>
<div class='form-input'><%= f.label :key_ingredient %>
<%= f.text_field :key_ingredient  %></div>
<br>
<div class='form-input'><%= f.label :preptime, 'Prep time' %>
<%= f.text_field :preptime %></div>
<br>
<div class='form-input'><%= f.label :cooktime, 'Cook time' %>
<%= f.text_field :cooktime %></div>
<br>
<div class='form-input'><%= f.label :instructions %>
<%= f.text_area :instructions %></div>
<br>
<div class='form-input'><%= f.label :servings %>
<%= f.text_field :servings %></div>
<br>
<div class='form-input'><%= f.label :image, "Image URL" %>
<%= f.text_field :image %></div>
<br>
<div class='formbutton'><%= f.submit %></div>
<% end %>
</div>
<hr />
<% if @item %>
  <%= form_for @item do |f| %>
    <%= f.hidden_field :recipe_id, :value => @recipe.id %>
    <div class='form-input dropdown'><%= f.select :ingredient_id, Ingredient.order(:name).map{|ingredient| [ingredient.name, ingredient.id]} %>
    <div class='form-input short'><%= f.label :quantity %></div>
    <div class='form-inputshort'><%= f.text_field :quantity %></div>
    <div class='form-input short'><%= f.label :units %></div>
    <div class='formbutton'><%= f.submit %></div>
  <% end %>
<% end %>