 <div class="row">
    <div class="twelve columns">

    <!-- Mobile Header -->

      <div class="row">
        <div class="twelve columns show-for-small">

          <img src="/assets/Cheesecake-mobile.jpg">

        </div>
      </div><br>

    <!-- End Mobile Header -->


      <div class="row">
        <div class="twelve columns">
          <div class="row">

    <!-- Shows -->

               <div class="four mobile-four columns">
                <div class='recipestitle'>
              <h4>Recipes</h4>
              <h5 class='h5link'><%= link_to '+ Recipe', new_recipe_path %></h5>
              <hr/>
              </div>


              <% @recipes.each do |recipe| %>

              <div class="panel">

                <h5><%= link_to "#{recipe.title}", recipe_path(recipe.id) %></h5>

                <%= image_tag(recipe.image) %>
                <h6 class="subheader">
                  <div class='prep-time-text'>Prep time</div>
                  <div class='prep-time-text'>Cook time</div>
                  <div class='prep-time-text'>Servings</div>
                  <br>
                  <div class='prep-time'><%= recipe.preptime %></div>
                  <div class='prep-time'><%= recipe.cooktime %></div>
                  <div class='prep-time'><%= recipe.servings %></div>
                  <!-- <br>Cost:-->
                </h6>
                  <div class='excerpt'><%= recipe.instructions.truncate(200) %><%= link_to ' Read More >>', recipe_path(recipe.id) %></div>



              </div>

            <% end %>
            </div>
<!--
              <h4>Select by key ingredient</h4><hr/>
              <% @recipes.each do |recipe| %>
                <h5><%= link_to "#{recipe.key_ingredient}" %></h5>
                <% end %> -->

            <div class="four mobile-two pull-two-mobile columns">

            </div>



          </div>
        </div>
      </div>
