<div class="row">
  <div class="twelve columns">
    <div class="row">
      <div class="twelve columns show-for-small">
        <img src="/assets/cheesecake-mobile.jpg">
      </div>
    </div><br>
    <div class="row">
      <div class="twelve columns">
        <div class="row">
          <h4></h4><hr/>
          <div class='singlerecipeimg'><%= image_tag(@recipe.image) %></div>
          <div class="four mobile-four columns showpanel">
              <div class="panel wholerecipe">
                <%= link_to '<< Back to all recipes', recipes_path %>
                <h5></h5>
                <h6 class="subheader">
                <h4><%= @recipe.title %></h4>
                <hr/>
                <div class='keyingredient-text'><%= @recipe.key_ingredient %></div>
                <br>
                <div class='minutes-text'>
                <%= @recipe.preptime %> minutes preparation time
                <br>
                <%= @recipe.cooktime %> minutes cooking time
                <br>
                Serves <%= @recipe.servings %>
                </div>
                <br>
<!-- glossary function written in helper -->

                <%== show_recipe_instructions(@recipe.instructions, @tutorials) %>


                <br>
                <%= link_to 'Delete', @recipe, :method => :delete %>
                <%= link_to 'Edit', edit_recipe_path(@recipe), :method => :get %>
                  <div class="row">
                    <div class="one column">

                    </div>
                  </div>
</div>
<div class="ingredientslist">
            <h4></h4>
<div class="panel">
                <h5></h5>
                <h6 class="subheader">
                <h4>Ingredients</h4><hr/>
                <div class='allingredient-text'>
                <% @recipe.items.each do |i| %>
                <br>
                <%= "#{i.quantity.round} #{i.ingredient.units}, #{i.ingredient.name}" %>
                <br>
                <% end %>
              </div>
            </div>
          </div>

  <br>
                  </div>
              </div>
            </div>
          </div>
        </div>