<%= form_for @tutorial do |f| %>

<div class='form-input'><%= f.label :name, "Glossary word", :autofocus => 'autofocus' %></div>
<div class='form-input'><%= f.text_field :name %></div>

<div class='form-input'><%= f.label :description %></div>
<div class='form-input'><%= f.text_field :description %></div>

<div class='form-input'><%= f.label :video, "YouTube Code (ie 'OxB7VRdnK5o')" %></div>
<div class='form-input'><%= f.text_field :video %></div>
<div class='formbutton'><%= f.submit %></div>
<% end %>

